.container{
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    background-color: beige;
    border-radius: 10px;
    border: solid 1px black;
}